{% extends 'layouts/main.html' %} {% block title %}New Show Listing{% endblock %} {% block content %}
<div class="form-wrapper">
    <form method="post" class="form">
        <h3 class="form-heading">List a new show</h3>
        <div class="form-group">
            <label for="artist_id">Artist ID</label>
            <select name="artist_id" id="artist_id">
                {% for art in artists %}
                    <option value={{art.id}}>{{art.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="venue_id">Venue ID</label>
            <select name="venue_id" id="venue_id">
                {% for ven in venues %}
                    <option value={{ven.id}}>{{ven.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="start_time">Start Time</label> {{ form.start_time(class_ = 'form-control', placeholder='YYYY-MM-DD HH:MM', autofocus = true) }}
        </div>
        <input type="submit" value="Create Show" class="btn btn-primary btn-lg btn-block">
    </form>
</div>
{% endblock %}